<!-- Call to Action (Get App) -->
<section id="cta" class="cta">
    <div class="cta-wrapper container">
        <div class="cta-info">
            <h1>Manage your projects from your mobile</h1>
            <p>
                Download the app to manage your projects, keep track of the progress
                and complete tasks without procastinating. Stay on track and
                complete on time!
            </p>
            <h5>Get the App</h5>
            <div>
                <img src="images/Download Badge/App Store Badge.svg" />
                <img src="images/Download Badge/Google Play Badge.svg" />
            </div>
        </div>
        <div class="cta-img">
            <img src="images/CTA/Phone Mockup 1.svg" />
            <img src="images/CTA/Phone Mockup 2.svg" />
        </div>
    </div>
</section>