<!-- Company -->
<section id="company" class="company">
    <div class="company-img">
        <img src="images/Logo Clouds/Airbnb Logo.svg" alt="Airbnb" />
    </div>
    <div class="company-img">
        <img src="images/Logo Clouds/FedEx Logo.svg" alt="FedEx" />
    </div>
    <div class="company-img">
        <img src="images/Logo Clouds/Google Logo.svg" alt="Google" />
    </div>
    <div class="company-img">
        <img src="images/Logo Clouds/Hubspot Logo.svg" alt="Hubspot" />
    </div>
    <div class="company-img">
        <img src="images/Logo Clouds/Microsoft Logo.svg" alt="Microsoft" />
    </div>
    <div class="company-img">
        <img src="images/Logo Clouds/Walmart Logo.svg" alt="Walmart" />
    </div>
</section>