<!-- Features -->
<section id="features" class="features">
    <div class="features-title">
        <h1>Tailor Made Features</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
            quas fuga autem beatae repudiandae sed soluta pariatur ea? Vitae,
            corporis.
        </p>
    </div>
    <div class="features-grid">
        <div class="feature">
            <img src="images/Feature Icons/01.svg" alt="Icons" />
            <h4>Robust Workflow</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi
                rerum expedita sed asperiores nisi cumque deserunt.
            </p>
        </div>
        <div class="feature">
            <img src="images/Feature Icons/02.svg" alt="Icons" />
            <h4>Flexibility</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi
                rerum expedita sed asperiores nisi cumque deserunt.
            </p>
        </div>
        <div class="feature">
            <img src="images/Feature Icons/03.svg" alt="Icons" />
            <h4>User Friendly</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi
                rerum expedita sed asperiores nisi cumque deserunt.
            </p>
        </div>
        <div class="feature">
            <img src="images/Feature Icons/04.svg" alt="Icons" />
            <h4>Multiple Layouts</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi
                rerum expedita sed asperiores nisi cumque deserunt.
            </p>
        </div>
        <div class="feature">
            <img src="images/Feature Icons/05.svg" alt="Icons" />
            <h4>Better Components</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi
                rerum expedita sed asperiores nisi cumque deserunt.
            </p>
        </div>
        <div class="feature">
            <img src="images/Feature Icons/06.svg" alt="Icons" />
            <h4>Well Organised</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi
                rerum expedita sed asperiores nisi cumque deserunt.
            </p>
        </div>
    </div>
</section>