<!-- Footer -->
<footer>
	<div class="footer-wrapper container">
		<div class="footer-text">
			<img src="images/Footer/Mini/Logomark/Color.svg" />
			<ul class="footer-links-1">
				<li><a href="#">Download Now</a></li>
				<li><a href="#">License</a></li>
			</ul>
			<ul class="footer-links-2">
				<li><a href="#">About</a></li>
				<li><a href="#">Features</a></li>
				<li><a href="#">Pricing</a></li>
				<li><a href="#">Careers</a></li>
				<li><a href="#">Help</a></li>
				<li><a href="#">Privacy Policy</a></li>
			</ul>
			<p>&copy; Landify 2021. All rights reserved</p>
		</div>
		<div class="footer-badge">
			<p>Get the App</p>
			<img src="images/Footer/Mini/Download Badge/App Store Badge.svg" alt="Download" />
			<img src="images/Footer/Mini/Download Badge/Google Play Badge.svg" alt="Download" />
		</div>
	</div>
</footer>

{{ partial "svg" . }}

<!-- Swiper js CDN -->
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/app.js"></script>
