<!-- Hero -->
<section id="hero">
    <div class="hero container">
        <div class="hero-text">
            <div class="hero-text-title">
                <h1>{{.title}}</h1>
                {{ if .subtitle }}
                <h2>{{.subtitle}}</h2>
                {{ end }}
            </div>
            <a href="#" alt="get started">
                <button class="btn btn-light-blue">Get Started</button>
            </a>
        </div>
        <div class="hero-image">
            <img src="./images/Hero/Hero.png" alt="Demo App" />
        </div>
    </div>
</section>