<!-- Navigation -->
<nav>
	<div class="nav container">
		<ul class="nav-links">
			<li><a href="/apropos">À propos</a></li>
			<li><a href="/partenaires">Partenaires</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
		<div class="nav-logo">
			<a href="/" title="Accueil">
				<img src="images/Hero/logo.svg" alt="logo" />
			</a>
		</div>
		<ul class="nav-social">
			<li>
				<a href="#">
					<i class="fab fa-instagram"></i>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fab fa-dribbble"></i>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fab fa-twitter"></i>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fab fa-youtube"></i>
				</a>
			</li>
		</ul>
	</div>
</nav>