<main class="container">
    <!-- Single Feature 1 -->
    <section id="s-feature-1" class="s-feature-1">
        <div class="s-feature-1-img">
            <img src="images/Feature/Single/Phone Mockup.png" />
        </div>
        <div class="s-feature-1-info">
            <h1>Headline</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Condimentum
                diam orci pretium a pharetra, feugiat cursus. Dictumst risus, sem
                egestas odio cras adipiscing vulputate. Nisi, risus in suscipit non.
                Non commodo volutpat, pharetra, vel.
            </p>
            <a href="#">Get Started <i class="fas fa-arrow-right"></i></a>
        </div>
    </section>

    <!-- Single Feature 2 -->
    <section id="s-feature-2" class="s-feature-2">
        <div class="s-feature-2-top">
            <div>
                <h1>Enter the world of all fashion trends</h1>
            </div>
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Venenatis
                    scelerisque at quam congue posuere libero in sit quam. Consequat,
                    scelerisque non tincidunt sit lectus senectus.
                </p>
            </div>
        </div>
        <div class="s-feature-2-bottom"></div>
    </section>
</main>