<!-- Testimonial -->
<section id="testimonials" class="testimonials">
    <div class="testimonials-wrapper container">
        <h1>Our Clients Speak</h1>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="testimonial-box">
                        <h5>Incredible Experience</h5>
                        <p>
                            We had an incredible experience working with Landify and were
                            impressed they made such a big difference in only three weeks.
                            Our team is so grateful for the wonderful improvements they
                            made and their ability to get familiar with the concept so
                            quickly. It acted as a catalyst to take our design to the next
                            level and get more eyes on our product.
                        </p>
                    </div>
                    <div class="testimonial-person">
                        <div class="testimonial-person-img">
                            <img src="images/Testimonial/person.jpg" />
                        </div>
                        <div class="testimonial-person-info">
                            <h5>Jan Cooper</h5>
                            <p>CEO ABC Corporation</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-box">
                        <h5>Dependable, Responsive, Professional Partner</h5>
                        <p>
                            We had an incredible experience working with Landify and were
                            impressed they made such a big difference in only three weeks.
                            Our team is so grateful for the wonderful improvements they
                            made and their ability to get familiar with the concept so
                            quickly. It acted as a catalyst to take our design to the next
                            level and get more eyes on our product.
                        </p>
                    </div>
                    <div class="testimonial-person">
                        <div class="testimonial-person-img">
                            <img src="images/Testimonial/person.jpg" />
                        </div>
                        <div class="testimonial-person-info">
                            <h5>Jan Cooper</h5>
                            <p>CEO ABC Corporation</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-box">
                        <h5>Incredible Experience</h5>
                        <p>
                            We had an incredible experience working with Landify and were
                            impressed they made such a big difference in only three weeks.
                            Our team is so grateful for the wonderful improvements they
                            made and their ability to get familiar with the concept so
                            quickly. It acted as a catalyst to take our design to the next
                            level and get more eyes on our product.
                        </p>
                    </div>
                    <div class="testimonial-person">
                        <div class="testimonial-person-img">
                            <img src="images/Testimonial/person.jpg" />
                        </div>
                        <div class="testimonial-person-info">
                            <h5>Jan Cooper</h5>
                            <p>CEO ABC Corporation</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-box">
                        <h5>Dependable, Responsive, Professional Partner</h5>
                        <p>
                            We had an incredible experience working with Landify and were
                            impressed they made such a big difference in only three weeks.
                            Our team is so grateful for the wonderful improvements they
                            made and their ability to get familiar with the concept so
                            quickly. It acted as a catalyst to take our design to the next
                            level and get more eyes on our product.
                        </p>
                    </div>
                    <div class="testimonial-person">
                        <div class="testimonial-person-img">
                            <img src="images/Testimonial/person.jpg" />
                        </div>
                        <div class="testimonial-person-info">
                            <h5>Jan Cooper</h5>
                            <p>CEO ABC Corporation</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>